.header {

  .top-bar {
    padding: 0;
    background-color: transparent;
    @include breakpoint(medium) {
      padding: 0.5rem;
      background-color: $secondary-color;
    }
    .top-bar-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: $secondary-color;
      @include breakpoint(medium) {
        padding: 0;
        background-color: transparent;
      }
    }
    a {
      color: #fff;
      background-color: $dark-gray;

      @include breakpoint(medium) {
        background-color: transparent;
      }
    }
    .is-active > a {
      color: $medium-gray;
    }
    ul {
      background-color: transparent;
      z-index: 1;
    }
    .is-dropdown-submenu {
      background-color: $secondary-color;
      border: none;
    }
    .dropdown.menu{
      .is-dropdown-submenu-parent > a::after {
        border-color: #fff transparent transparent;
      }
      & > li.opens-left > .is-dropdown-submenu {
        top: calc(100% + 0.5rem);
      }
    }
    .drilldown a {
      &::before {
        border-color: transparent #fff transparent transparent;
      }
      &::after {
        border-color: transparent transparent transparent #fff;
      }
    }
  }

  .switch {
    height: unset;
    margin-bottom: unset;
    .menu-icon {
      color: transparent;
      font-size: 2rem;
      line-height: 0.3;
      &::after {
        //top: 11px;
      }
    }
    input:checked ~ .menu-icon {
      color: #fff;
      &:hover {
        color: #cacaca;
      }
      &::after {
        content: none;
      }
    }
  }


}

.index {
  .header {
    height: 100vh;
    background-image: url('../img/banners/banner-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include breakpoint(medium) {
      height: 80vh;
    }

    .banner-text {
      position: absolute;
      top: 30vh;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      text-align: center;
    }
  }
}



