.header {
  height: 100vh;
  background-image: url('../img/banners/banner-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include breakpoint(medium) {
    height: 80vh;
  }

  .top-bar {
    padding: 0;
    background-color: transparent;
    @include breakpoint(medium) {
      padding: 0.5rem;
      background-color: $secondary-color;
    }
    .top-bar-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      background-color: $secondary-color;
      @include breakpoint(medium) {
        padding: 0;
        background-color: transparent;
      }
    }
    a {
      color: #fff;
      background-color: $dark-gray;
      @include breakpoint(medium) {
        background-color: transparent;
      }
    }
    ul {
      background-color: transparent;
    }
  }



  .switch {
    height: unset;
    margin-bottom: unset;
    .menu-icon {
      color: transparent;
      font-size: 2rem;
      line-height: 0.3;
      &::after {
        //top: 11px;
      }
    }
    input:checked ~ .menu-icon {
      color: #fff;
      &:hover {
        color: #cacaca;
      }
      &::after {
        content: none;
      }
    }
  }


}



