<div class="top-bar">
    <div class="top-bar-left">
        <a class="menu-text" href="index">The Tea Garden</a>
        <div class="switch" data-responsive-toggle="header-menu" data-hide-for="medium">
            <input class="switch-input" id="menuSwitch" type="checkbox" name="menuSwitch" data-toggle="header-menu">
            <label class="menu-icon" for="menuSwitch">
                <span aria-hidden="true">&times;</span>
            </label>
        </div>
    </div>
    <div class="top-bar-right" id="header-menu" data-animate="slide-in-right slide-out-right">
        <ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
            <li><a href="index">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Events</a>
                <ul class="vertical menu">
                    <li><a href="#">tea tasting</a></li>
                    <li><a href="#">bridal and baby shower</a></li>
                    <li><a href="#">cater tea party-themed event at your home</a></li>
                    <li><a href="#">wedding rehearsal dinner</a></li>
                    <li><a href="#">BYO (Bring Your Own) Cocktail Party</a></li>
                    <li><a href="#">Farm to Table private dinner parties</a></li>
                    <li><a href="#">young lady’s tea party</a></li>
                    <li><a href="#">corporate event & corporate catering services</a></li>
                    <li><a href="#">organization’s meeting</a></li>
                    <li><a href="#">not-for-profit fundraiser</a></li>
                    <li><a href="#">girl scouts programs</a></li>
                    <li><a href="#">catering selections</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Menu</a>
                <ul class="vertical menu">
                    <li><a href="#">tea tasting</a></li>
                    <li><a href="#">tea & lunch time menu</a></li>
                    <li><a href="#">tea & beverage menu</a></li>
                    <li><a href="#">weekend brunch menu</a></li>
                    <li><a href="#">outside catering: parties, showers, private dinners</a></li>
                    <li><a href="#">item</a></li>
                </ul>
            </li>
            <li><a href="#">Reservation</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>

<div class="banners">
    <figure class="orbit-figure">
        <img class="orbit-image" src="https://placehold.it/1200x600/777?text=Slide-3" alt="Space">
        <figcaption class="orbit-caption">Encapsulating</figcaption>
    </figure>
</div>



